div.teamCard {
	border         : 0.1em solid gray;
	display        : flex;
	flex-direction : column;
	margin         : 2em;
	padding        : 1em;

	div.header {
		align-items : flex-start;
		display     : flex;

		div.title {
			align-items     : flex-start;
			display         : flex;
			flex-direction  : column;
			justify-content : center;
			width           : 100%;
		}
	}

	hr {
		width : 100%;
	}

	div.content {
		align-items : center;
		display     : flex;

		img.logo {
			height : 10em;
			margin : auto;
			width  : 10em;
		}
	}
}